// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";
@import "fonts";

.fan-graphs-link {
  //font-size: 14px;
  color: #51a730;
}

.player-info-container {
  background: white;

  .title {
    font-size: 36px;
  }
}

.player-card {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  background: white;
  border-radius: 4px;


  .player-info {

    .card-title {
      font-size: 18px;
    }

    .player-essential-info, .player-fantasy-info {

    }
  }

  .player-notes {
    font-size: 12px;
  }
}

table.table.stats-table {
  //table-layout:fixed !important;
  font-size: 12px;
  margin-bottom: 0px;

  th {
    font-family: 'd-din_expdinexp-bold';
  }

  td {
    font-family: 'd-din_expregular';
    font-weight: 500;
  }

  th, td {
    padding: 3px;
    //width: 30px;
    text-align: center;
  }

  th {
    padding-bottom: 1px;
    padding-top: 1px;
    border-bottom-width: 1px;
  }

  &.strong-header {
    th {
      background: #808080;
      color: $white;
    }
  }

  td {
    padding-top: 1px;
  }

  td.highlight {
    background-color: $primary-lightest;
  }

  .border-heavy {
    border-right: 2px solid $surface;
  }

  .border-light {
    border-right: .55px solid $surface;
  }

  .label-col {
    text-align: left;
  }

  .stat-col {
    text-align: right;
  }

  .projection-row {
    td {
      background-color: $primary-lightest;
    }
  }

  th.small-col {
    width: 30px;
  }

  th.medium-col {
    width: 42px;
  }

  th.large-col {
    width: 48px;
  }
}
.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

$table-width: 900px;
$col-height: 36px;
$cell-padding: 2px;
$line-height: 32px;
$number-font-size: 13px;

.mock-table {
  //display: table;
  width: 900px;
  //border: 1px solid green;
  font-family: 'd-din_expregular';


  .actual-row {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    width: $table-width;
    border-radius: 3px;
    background-color: white;
  }

  .mock-row {
    width: $table-width;
    display: table;
    width: 100%;
  }

  .head-row {
    background-color: black;
    color: white !important;
    font-family: 'd-din_expdinexp-bold';

    width: $table-width;
    display: table;

    .col {
      color: White !important;
    }
  }

  .col {
    height: $col-height;
    line-height: $line-height;
    float: left;
    vertical-align: middle;
    padding: 2px;
    display: inline-block;
  }

  .container {
    width: $table-width;
  }

  .pos-rank-col {
    width: 42px;
    text-align: center;
  }

  .name-col {
    width: 160px;
    text-align: left;
    font-weight: bold;
  }

  .team-col {
    width: 50px;
    color: $surface-dark;
  }

  .pos-col {
    width: 60px;
    color: $surface-dark;
  }

  .tag-col {
    width: 95px;
  }

  .draft-tag-col {
    width: 30px;
    text-align: right;
  }

  .ovr-rank-col {
    font-size: $number-font-size;
    width: 80px;
    text-align: right;
  }

  .adp-col {
    font-size: $number-font-size;
    width: 40px;
    text-align: right;
  }

  .diff-col {
    font-size: $number-font-size;
    width: 28px;
    text-align: right;
  }

  .proj-name-col {
    font-size: $number-font-size;
    width: 70px;
    padding-left: 20px;
    text-align: left;
    color: $surface-dark;
  }

  .stat-col {
    font-size: $number-font-size;
    width: 30px;
    text-align: right;
  }

  .expand-col {
    text-align: right;
    width: 80px;
  }

  .handle-col {
    text-align: right;
    width: 30px;
  }

  .row-tag {
    width: 18px;
    padding: 2px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    text-align: center;

    &.draft_target-tag {
      color: #CA7DF9; //724CF9
    }
    &.value_pick-tag {
      color: #53DD6C; //05F140
    }
    &.sleeper_pick-tag {
      color: #42CAFD; // 00ABE7
    }
    &.high_upside-tag {
      color: #53DD6C; //05F140
    }
    &.avoid_player-tag {
      color: #D3AB9E;
    }
    &.health_risk-tag {
      color: #FF5A5F;
    }
    &.young_potential-tag {
      color: #DAEDBD;
    }
    &.risky_pick-tag {
      color: #DC493A;
    }
    &.safe_pick-tag {
      color: #DC493A;
    }
    &.regression_candidate-tag {
      color: #DC493A;
    }
    &.bounceback_candidate-tag {
      color: #DC493A;
    }
  }
}
