// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

.fan-graphs-link {
  //font-size: 14px;
  color: #51a730;
}

.player-info-container {
  background: white;

  .title {
    font-size: 36px;
  }
}

.player-card {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  background: white;
  border-radius: 4px;


  .player-info {

    .card-title {
      font-size: 18px;
    }

    .player-essential-info, .player-fantasy-info {

    }
  }

  .player-notes {
    font-size: 12px;
  }
}

table.table.stats-table {
  //table-layout:fixed !important;
  font-size: 12px;
  margin-bottom: 0px;

  th {
    font-family: 'd-din_expdinexp-bold';
  }

  td {
    font-family: 'd-din_expregular';
    font-weight: 500;
  }

  th, td {
    padding: 3px;
    //width: 30px;
    text-align: center;
  }

  th {
    padding-bottom: 1px;
    padding-top: 1px;
    border-bottom-width: 1px;
  }

  &.strong-header {
    th {
      background: #808080;
      color: $white;
    }
  }

  td {
    padding-top: 1px;
  }

  td.highlight {
    background-color: $primary-lightest;
  }

  .border-heavy {
    border-right: 2px solid $surface;
  }

  .border-light {
    border-right: .55px solid $surface;
  }

  .label-col {
    text-align: left;
  }

  .stat-col {
    text-align: right;
  }

  .projection-row {
    td {
      background-color: $primary-lightest;
    }
  }

  th.small-col {
    width: 30px;
  }

  th.medium-col {
    width: 42px;
  }

  th.large-col {
    width: 48px;
  }
}
