@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors";

table.table.rankings-table {
  font-size: 12px;
  margin-bottom: 0px;

  border-collapse:separate;
  border-spacing:0 7px;

  th, td {
    padding: 7px 3px;
    text-align: left;
  }

  th {
    background-color: $secondary;
    color: $white;
    font-weight: 500;
  }
  .context-stat {
    width: 4%;
  }

  .ranking-stat {
    width: 3%;
    text-align: center;
  }

  .fantasy-stat, .ranking-stat {
    width: 3%
  }

  .projection-name {
    width: 33%;
  }

  .stat, .projection-name {
    text-align: right;
  }

  .action-col {
    text-align: center;
    width: 4%;
  }

  .name {
    width: 15%
  }

  tbody {


    tr {
      margin-top: 4px;
      border-radius: 2px;

      &:hover {
        td {
          background-color: $surface-lighter;
        }
      }
    }

    td {
      border-top: 0px;
    }
  }

  //td {
  //  background-color: $white;
  //}


  td.fantasy-stat {
    background-color: $primary-lightest;
  }

}

.expanded-notes {
  background: $white;
  margin-top: -6px;

  border-spacing: 0 0px;

}

.fa-sort {
  cursor: grab;
}

.ui-sortable-helper {

  .fa-sort {
    cursor: inherit;
  }

  .player-card {
    border-left: 5px solid $sorting;
    box-shadow: 3px 3px 4px rgba(116, 116, 116, 0.3);
    cursor: grabbing;
    border-radius: 0px !important;
  }

  .ranking-tab {
    display: none;
    color: $sorting;
  }
}

.ui-sortable-placeholder {
  border-radius: 0px !important;
  border-top: 2px solid $sorting;
  border-bottom: 2px solid $sorting;
  visibility: visible !important;
  background-color: $surface-light;
  font-size: 36px;
  color: $sorting;
  padding-left: 15px;
}

.ranking-tab {
  font-size: 30px;
  padding-top: 10px;
}