@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
/* DB SAYS DON'T ADD MORE COLORS. SIMPLICITY IS BEAUTY. */

$transparent-heavy: .8;
$transparent: .5;
$transparent-light: .3;

$light: 20%;
$lightest: 50%;

// White
$white: #fff;
$white-opaque: transparentize($white, $transparent-light);

// Black
$black: #000;

// Moment blue
$primary: #182e4d;
$primary-light: lighten($primary, $light);
$primary-lightest: lighten($primary, $lightest);
$primary-opaque: transparentize($primary, $transparent);

// Moment red
$secondary: #ad384a;
$secondary-light: lighten($secondary, $light);
$secondary-lightest: lighten($secondary, $lightest);
$secondary-opaque: transparentize($secondary, $transparent);
$on-secondary: $white;

// Moment grey
$surface: #e6e7e8;
$surface-extra-dark: darken($surface, 100%);
$surface-dark: darken($surface, 50%);
$surface-almost-dark: darken($surface, 20%);
$surface-light: lighten($surface, 7%);
$surface-lightest: lighten($surface, $lightest);
$surface-opaque: transparentize($surface, $transparent);
$on-surface: $primary;

// Danger
$danger: #9e3535;
$danger-light: lighten($danger, $light);
$danger-lightest: lighten($danger, $lightest);

// Warning
$warning: #937619;
$warning-light: lighten($warning, $light);
$warning-lightest: lighten($warning, $lightest);

// Success
$success: #1b7751;
$success-light: lighten($success, $light);
$success-lightest: lighten($success, $lightest);

// Default body text is dark grey, Header text is primary
$default-text-color: $surface-dark;

body {
  padding-top: 60px;
  background-color: $surface-light;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.strong {
  font-weight: 700;
}

.btn {
  margin: 5px;
}

.btn-full-width {
  width: 100%;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.ui-autocomplete {
  z-index: 9999 !important;
  .ui-menu-item {
    // make the autocomplete drop down bigger for touch displays
    font-size: 18px;
    line-height: 26px;
  }
}

.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content {
  border-color: $primary-lightest !important;
  border-radius: 0px 0px 4px 4px !important;
}
.ui-autocomplete .ui-menu-item {
  font-size: 14px !important;
  font-family: "Avenir LT Std", sans-serif !important;
}

.ui-menu-item.ui-state-focus {
  font-size: 14px !important;
  font-family: "Avenir LT Std", sans-serif !important;
  color: $white;
  background: $primary-light;

  &:hover {
    color: $white;
    background:$primary-light;
  }
}

input.autocomplete-text-field {
  margin-bottom: 6px;
}