@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors";

/* universal */
/* DB SAYS DON'T ADD MORE COLORS. SIMPLICITY IS BEAUTY. */
body {
  padding-top: 50px;
  background-color: $surface-light !important;
}



.container, .container-fluid {
  //background-color: $surfacelight;
}

a {
  text-decoration: none !important;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

.breadcrumbs-text, .position-breadcrumbs-text {
  font-size: 30px;
  line-height: 30px;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.strong {
  font-weight: 700;
}

.btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-full-width {
  width: 100%;
}

// FORM ELEMENTS

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.form-control {
  margin-bottom: 5px;
}

select.form-control {
  padding: 6px 0 6px 6px;
}

// SIDEBAR

$responsive-sidebar-width: 220px;
$header-height: 50px;
.responsive-sidebar {
  transition: all 0.4s;
  width: $responsive-sidebar-width;
  padding: 15px;
  background-color: $primary;
  z-index: 1001;

  color: white;

  .sidebar-title {
    margin-top: 6px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  float: left;
  min-height: calc(100vh - (#{$header-height}));

  position: fixed;
  display: inline-block;

  .collapsible-tab {
    color: $black;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-top: 10px;
    background-color: #fff;
    padding-left: 15px;

    &:hover {
      background-color: $surface-light;
    }

    &.selected {
      background-color: $primary-light;
      color: $white;
    }
  }

  .btn-container {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;

    .btn {
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  border-radius: 0px 0px 5px 0px;
}

.collapsible-tab {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  border-radius: 5px;
}

.collapse-body {
  width: 100%;
  background-color: $white;
  color: $black;
  border-radius: 5px;
}

.content-with-responsive-sidebar {
  //@extend .col-xs-11;
  padding-bottom: 15px;
  margin-left: $responsive-sidebar-width + 5px;

  width: calc(100% - #{$responsive-sidebar-width} - 5px);
  float: left;
  position: relative;

}

.body-container {
  width: 100%;
  //height: auto;
  //display: flex;
  //flex-direction: column;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.ui-autocomplete {
  z-index: 9999 !important;
  .ui-menu-item {
    // make the autocomplete drop down bigger for touch displays
    font-size: 18px;
    line-height: 26px;
  }
}

.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content {
  border-color: $primary-lightest !important;
  border-radius: 0px 0px 4px 4px !important;
}
.ui-autocomplete .ui-menu-item {
  font-size: 14px !important;
  font-family: "Avenir LT Std", sans-serif !important;
}

.ui-menu-item.ui-state-focus {
  font-size: 14px !important;
  font-family: "Avenir LT Std", sans-serif !important;
  color: $white;
  background: $primary-light;

  &:hover {
    color: $white;
    background:$primary-light;
  }
}

input.autocomplete-text-field {
  margin-bottom: 6px;
}

.secondary {
  color: $secondary;
}

.danger {
  color: $danger;
}

.success {
  color: $success;
}

.ranking-tag {
  font-size: 10px;
  width: 50px;
  border-radius: 10px;
  height: 20px;
  color: #fff;
  padding-top: 2px;
  margin-bottom: 2px;
  margin-top: 2px;
  color: $white;

 &.draft_target-tag {
   background-color: #CA7DF9; //724CF9
 }
 &.value_pick-tag {
   background-color: #7DBBC3;
 }
 &.sleeper_pick-tag {
   background-color: #42CAFD; // 00ABE7
 }
 &.high_upside-tag {
   background-color: #53DD6C; //05F140
 }
 &.avoid_player-tag {
   background-color: #D3AB9E;
 }
 &.health_risk-tag {
   background-color: #FF5A5F;
 }
 &.young_potential-tag {
   background-color: #DAEDBD;
 }
 &.risky_pick-tag {
   background-color: #DC493A;
 }
 &.safe_pick-tag {
   background-color: #DC493A;
 }
 &.regression_candidate-tag {
   background-color: #DC493A;
 }
 &.bounceback_candidate-tag {
   background-color: #DC493A;
 }
}

a[aria-expanded=true] .before-expand {
  display: none;
}

a[aria-expanded=false] .after-expand {
  display: none;
}

a:visited[role="button"] {
  color: black !important;
}

.hide-pitching {
  .pitching {
    display: none;
  }
}

.hide-batting {
  .batting {
    display: none;
  }
}

.no-margin {
  margin: 0px !important;
}

//div.pagination {
//  padding: 6px 0;
//  margin: 0px;
//}

.digg_pagination {
  cursor: default;
  /* self-clearing method: */ }
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 6px 12px;
  display: block;
  float: left;
  background: white;
  margin-right: 1px; }
.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd; }
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1; }
.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5; }
.digg_pagination a:hover, .digg_pagination a:focus {
  color: #000033;
  border-color: #000033; }
.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center; }
.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em; }
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
.previous_page {
  border-radius: 4px 0px 0px 4px; }
.next_page {
  border-radius: 0px 4px 4px 0px; }
* html .digg_pagination {
  height: 1%; }
*:first-child + html .digg_pagination {
  overflow: hidden; }
